/* Pieces of code taken from various references listed before each section! */

#art,
#music,
#theater,
#dance {
  display: none;
}

#one,
#two,
#three {
  display: none;
}

[day-status="one"] #one {
  display: grid;
}

[day-status="two"] #two {
  display: grid;
}

[day-status="three"] #three {
  display: grid;
}

body {
  margin: 0;
}

/* ART SECTION */
body[data-status="morning"] #art {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  color: firebrick;
  text-align: center;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}
/* code for text in art 
https://verpex.com/blog/website-tips/a-text-reveal-animation-using-css */
.reveal {
  color: #0000;
  font-size: 4vw;
  --g: no-repeat linear-gradient(firebrick 0 0) 0 0;
  background: var(--g), var(--g);
  background-size: 0 100%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  animation: t 1.2s 0.5s both, b 1.2s 1.3s both;
}
@keyframes t {
  to {
    background-size: 150% 100%;
  }
}
@keyframes b {
  to {
    background-position: -200% 0, 0 0;
  }
}
/* code for art background 
https://alvarotrigo.com/blog/animated-backgrounds-css/ */
#air {
  position: relative;
  width: 100%;
  height: 100vh;
  background: antiquewhite;
  overflow: hidden;
}
#air .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}
#air .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
#air .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
#air .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
#air .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

/* MUSIC SECTION */
body[data-status="afternoon"] #music {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: darkblue;
  text-align: center;
  font-family: "Times New Roman", Times, serif;

  background-image: url(prettycloud.jpg);
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/* code for font in music
https://alvarotrigo.com/blog/css-text-animations/ */
.messagem {
  vertical-align: middle;
  text-align: center;
  background: linear-gradient(110deg, darkblue 33%, rgba(0, 0, 0, 0) 33%),
    linear-gradient(110deg, lightblue 34%, moccasin 34%);
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  transform: translateX(-50%);
  font-size: 4vw;
  animation: Gradient 5s ease infinite;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
}
@keyframes Gradient {
  0% {
    background-position: 30% 50%;
  }
  50% {
    background-position: 25% 50%;
  }
  100% {
    background-position: 30% 50%;
  }
}
/* code for background in music 
https://alvarotrigo.com/blog/animated-backgrounds-css/ */
@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}
@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

/* THEATER SECTION */
body[data-status="evening"] #theater {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: moccasin;
  color: magenta;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(-45deg, teal, steelblue, rosybrown, midnightblue);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  z-index: -1;
}
/* code for background in theater
https://alvarotrigo.com/blog/animated-backgrounds-css/ */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* code for font in theater 
https://www.w3schools.com/howto/howto_css_glowing_text.asp */
.glow {
  font-size: 4vw;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* DANCE SECTION */
body[data-status="night"] #dance {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  background-color: darkslateblue;
  color: ghostwhite;
  text-align: center;
  font-family: "Verdana";
}
/* message in dance 
https://alvarotrigo.com/blog/css-text-animations/ */
.messagea {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  transform: translateX(-50%);
  font-size: 4vw;

  background-image: linear-gradient(
    -225deg,
    ghostwhite 0%,
    darksalmon 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* code for dance background 
https://alvarotrigo.com/blog/animated-backgrounds-css/ */
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #ff1361;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: ghostwhite;
}
.cube:nth-child(2) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@-webkit-keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.time {
  position: absolute;
  left: 50%; /* Position horizontally centered */
  transform: translateX(-50%);
  font-size: 8vh;
  z-index: 1500;
}
.date {
  position: absolute; /* Position absolutely within the section */
  bottom: 10px; /* Adjust as needed for desired spacing from the bottom */
  left: 50%; /* Position horizontally centered */
  transform: translateX(-50%); /* Adjust for horizontal centering */
  font-size: 8vh;
  z-index: 1400;
}
.message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  transform: translateX(-50%);
  font-size: 4vw;
}
